<h2>List of ratings</h2>

<p>Number of ratings <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to User.find(rating.user_id).username, user_path(rating.user_id) %> </li>
  <% end %>
</ul>
<br>

<!--<%= link_to 'New Rating', new_rating_path %>-->
